.dockItem {
  height: 100%;
  width: auto;
  aspect-ratio: 1/1;
  padding: 0px 5px;
  transition: all 0.15s ease-in-out;
  display: flex;
  align-items: center;
}

.dockIcon {
  height: 50px;
  width: auto;
  pointer-events: none;
}
