.desktop {
  width: 100vw;
  height: 100vh;
  background-image: url("https://uhdwallpapers.org/uploads/converted/20/06/25/macos-big-sur-wwdc-3840x2160_785884-mm-90.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
