:root {
  --battery-level: 77%;
}

.batteryShell {
  margin-left: 10px;
  width: 20px;
  height: 9px;
  border: solid 1px rgb(75, 75, 75);
  border-radius: 3.5px;
  position: relative;
  padding: 1px;
}

.batteryLevel {
  height: 100%;
  width: var(--battery-level);
  border-radius: 2px;
  background-color: black;
}

.batteryKnob {
  position: absolute;
  right: -2.5px;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5px;
  height: 4px;
  border-radius: 3px;
  background-color: rgb(75, 75, 75);
}
.menuItem {
  max-height: 17px;
  margin-right: 20px;
  cursor: default;
  font-size: 13px;
  line-height: 13px;
  display: flex;
  align-items: center;
}
